<% provide(:title, 'Contact') %>
<h1 ALIGN="center">ZWITTER#Contact</h1>
<p ALIGN="center">
  Mail to
  <a href="mailto:jetpilot412@gmail.com">jetpilot412@gmail.com</a>
  <a href="home.html">Home</a>
</p>
