<div class="center hero-unit">
  <h1 ALIGN="center">AIRCRAFTS#Home</h1>
  <h2 ALIGN="center">
    Home page
    <a href="help.html">Help</a>
    <a href="about.html">About Us</a>
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("airplane.png", alt: "Rails"), 'https://en.wikipedia.org/wiki/Aircraft' %>
